argcomplete==3.5.1
click==8.1.7
colorama==0.4.6
cuda-python==12.6.1
filelock==3.16.1
fsspec==2024.10.0
-e git+ssh://git@github.com/percebus/hello-gpu-py.git@7518ad828a026138f57eff2fb08304dd9553d169#egg=hello_gpu_py
iniconfig==2.0.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.3
packaging==24.1
pillow==11.0.0
pipx==1.7.1
platformdirs==4.3.6
pluggy==1.5.0
pyclean==3.0.0
PyHamcrest==2.1.0
pypyr==5.9.1
pytest==8.3.3
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32==308
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.7.2
setuptools==75.3.0
six==1.16.0
sympy==1.13.1
tomli_w==1.1.0
torch==2.5.1+cu124
torchaudio==2.5.1+cu124
torchvision==0.20.1+cu124
typing_extensions==4.12.2
userpath==1.9.2
